ClientId = sumtotal_auth
ClientSecret = sumtotal_auth
Scope = allapis
Environment = https://au05sales.sumtotaldevelopment.net
RedirectUri = https://test.sumtotal.com/oidc
grant = auth_code
rop_username = admin
rop_password = mCudGP0RfCgiVHm24wIsrq6dixH154uXEXz3fneW+dpuOJMFD0rQT3xozegahv8aUlBtSqx7w4/FOcLDgz7UeQ==

//the de-encrypted ROP password is set to - Beluga!Savin
//Change 'grant' to one of Avalabile grant type values:
//Authorization Code - auth_code
//Client Credentials - b2b
//Resrouce Owner Password - rop

//**NOTE FOR DEVELOPERS**:
//if the application returns a NullReferenceError on app run then be sure to check
//that the clientId, clientSecret, Environment, Scope and RedirectUrl values specified are correct and
//do actually exist in the propgataion environment you are running against